<section class="list-table">
    <h3>Shared {{$ctrl.color}}list</h3>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th ng-repeat="column in $ctrl.tableColumns" ng-click="$ctrl.sort(this)">
                        <span>{{column.header}}</span>
                        <span ng-if="$last" id="triangle-down"></span>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr ng-repeat="item in $ctrl.tablesData">
                    <td>{{item.Name}}</td>
                    <td>{{$ctrl.types[item.Type]}}</td>
                    <td>{{item.CreatedByUserName}}</td>
                    <td>{{$ctrl.setCreatedOnDate(item.CreatedOn)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tbl-paging">
        <section>
            <span ng-repeat="pageNumber in $ctrl.pageArray" ng-click="$ctrl.switchPage(this)"
                ng-class="pageNumber === $ctrl.presentPage ? 'selected-page': ''">{{pageNumber}}</span>
        </section>
        <section>
            {{$ctrl.getPageInfo()}}
        </section>
    </div>
</section>