#triangle-down {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #828282;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle; }

header {
  background-color: #ededed;
  color: #515151; }
  header h1 {
    padding: 10px 15px;
    margin: 0;
    font-size: 20px;
    font-weight: 300; }

main {
  color: #515151;
  display: flex; }
  main app-total-list-component {
    padding: 15px; }
  main > section {
    padding: 0 15px;
    flex-basis: 50%; }
  main h3 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #515151;
    margin: 10px 0; }
  main .action-with-list {
    margin-bottom: 30px;
    width: 100%; }
    main .action-with-list div {
      padding: 5px 0px;
      display: flex;
      justify-content: space-between; }
      main .action-with-list div p {
        padding: 0;
        margin: 0; }
      main .action-with-list div button {
        background-color: #3bb0c9;
        display: block;
        border: none;
        padding: 5px 30px;
        color: white;
        font-size: 13px; }
  main .tbl-content {
    height: 450px;
    overflow-x: auto;
    margin-top: 0px; }
  main table {
    width: 100%;
    table-layout: fixed; }
    main table th {
      padding: 10px 0;
      text-align: left;
      font-weight: 500;
      font-size: 12px;
      color: #828282;
      border-bottom: 1px solid #515151; }
    main table td {
      padding: 10px 0;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: 12px;
      color: #515151;
      border-bottom: 1px solid #515151; }
    main table .th-c-p:hover {
      cursor: pointer; }
  main .tbl-paging {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12px; }
    main .tbl-paging section {
      display: inline-block; }
      main .tbl-paging section > span {
        margin-left: 5px;
        font-size: 10px;
        padding: 0px; }
      main .tbl-paging section > span:hover {
        cursor: pointer;
        background-color: #ededed; }
    main .tbl-paging span {
      display: inline-block;
      padding: 5px; }
    main .tbl-paging .selected-page {
      background-color: #3bb0c9;
      color: white; }
